.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    height: 70px;
  }
  
  .title {
    margin: 0;
    font-size: 40px;
    font-family: candara;

  }
  
  .home-button, .dashboard-btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #509b8f;
    color: white;
    cursor: pointer;
    font-family: candara;
    height: 55px;
    width: 320px;
    font-size: 30px;
  }
  
  .home-button:hover, .dashboard-btn:hover {
    background-color: #0056b3;
  }