
  .play-btn {
    background: none;
    cursor: pointer;
    text-align: center;
    margin: auto;
    width:500px;
    padding-top: 350px;
  }
  
  .plbutto:hover {
    background: linear-gradient(135deg, #418f8d, #68c5b5, #2c3e50);
    color: white;
  }

 .plbutto{
  background-color: white;
  /* color: white; */
  font-family: candara;
  border: none;
  font-size: 30px;
  border-radius: 15px;
  width:300px;
  height: 80px;
  cursor: pointer;
 }
